In [1]:
import numpy as np
import pandas as pd

In [2]:
election = pd.read_csv("election.csv", index_col=0)

In [3]:
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

#### Q1. Select `Bedford` county and the `winner` column.

In [4]:
election.loc['Bedford', 'winner']

'Romney'

#### Q2. Create a separate dataframe with the columns `winner`, `total`, `voters` and save them to variable results

In [5]:
results = election[['winner', 'total', 'voters']]
results.head()

           winner   total  voters
county
Adams      Romney   41973   61156
Allegheny   Obama  614671  924351
Armstrong  Romney   28322   42147
Beaver     Romney   80015  115157
Bedford    Romney   21444   32189

#### Q3. Slice the dataframe using index row labels from `Perry` to `Potter` and then save them to variable `p_counties`

In [6]:
p_counties = election['Perry':'Potter']
p_counties.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Perry,PA,18240,29.769737,68.591009,Romney,27245,66.948064,38.821272
Philadelphia,PA,653598,85.224251,14.051451,Obama,1099197,59.461407,71.172800
Pike,PA,23164,43.904334,54.882576,Romney,41840,55.363289,10.978242
Potter,PA,7205,26.259542,72.158223,Romney,10913,66.022175,45.898681

#### Q4. Slice the dataframe using index row labels from `Perry` to `Potter` in reverse order and then save them to variable `p_counties_rev`

In [7]:
p_counties_rev = election['Potter':'Perry':-1]
p_counties_rev.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Potter,PA,7205,26.259542,72.158223,Romney,10913,66.022175,45.898681
Pike,PA,23164,43.904334,54.882576,Romney,41840,55.363289,10.978242
Philadelphia,PA,653598,85.224251,14.051451,Obama,1099197,59.461407,71.172800
Perry,PA,18240,29.769737,68.591009,Romney,27245,66.948064,38.821272

#### Q5. Slice the dataframe columns from the starting column to `Obama` and save them to variable `left_columns`

In [8]:
left_columns = election.loc[:, 'state':'Obama']
left_columns.head()

          state   total      Obama
county
Adams        PA   41973  35.482334
Allegheny    PA  614671  56.640219
Armstrong    PA   28322  30.696985
Beaver       PA   80015  46.032619
Bedford      PA   21444  22.057452

#### Q6. Slice the dataframe columns from `Romney` to the end and save them to variable `right_columns`

In [9]:
right_columns = election.loc[:, 'Romney':]
right_columns.head()

              Romney  winner  voters    turnout     margin
county
Adams      63.112001  Romney   61156  68.632677  27.629667
Allegheny  42.185820   Obama  924351  66.497575  14.454399
Armstrong  67.901278  Romney   42147  67.198140  37.204293
Beaver     52.637630  Romney  115157  69.483401   6.605012
Bedford    76.986570  Romney   32189  66.619031  54.929118

#### Q7. Prepare a boolean array to select all of the rows and columns where voter `turnout` exceeded 70% and save it variable `high_turnout_df`

In [10]:
high_turnout_df = election[election['turnout'] > 70]
high_turnout_df.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Bucks,PA,319407,49.966970,48.801686,Obama,435606,73.324748,1.165284
Butler,PA,88924,31.920516,66.816607,Romney,122762,72.436096,34.896091
Chester,PA,248295,49.228539,49.650617,Romney,337822,73.498766,0.422079
Forest,PA,2308,38.734835,59.835355,Romney,3232,71.410891,21.100520
Franklin,PA,62802,30.110506,68.583803,Romney,87406,71.850903,38.473297

#### Q8.  Convert the rows of the `winner` column to have missing values where `margin` column is less than 1%

In [11]:
election[election['margin'] < 1]

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Berks,PA,163253,48.939376,49.528646,Romney,250356,65.208343,0.589269
Centre,PA,68801,48.948416,48.977486,Romney,112949,60.913333,0.029069
Chester,PA,248295,49.228539,49.650617,Romney,337822,73.498766,0.422079

In [12]:
election.loc[election['margin'] < 1, 'winner'] = np.nan